@font-face {
    font-family: 'The Seasons';
    src: url('/fonts/FONTSPRINGDEMO-TheSeasonsLightRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} 