@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-the-seasons: 'The Seasons', serif;
  --font-ovo: 'Ovo', serif;
}

@font-face {
  font-family: 'The Seasons';
  src: url('/fonts/TheSeasons-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}